.App {
  margin: 2%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e2e2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#navContainer {
  display:flex;
  align-content: space-between;
  gap: 5%;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 10px;
}

.navItem {
  margin: 20px;
  padding: 30px;

}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#addButton{
  position: relative;
  left: 50px;
  top: -30px;
}

#aboutUs {
  font-size: 0.7em;
  font-style: italic;
  text-align: right;
  position: fixed;
  bottom: 5px;
  right: 10px;
  opacity: 0.3;
}

img {
  height: 70px;
}